@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat_bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_bold.woff2') format('woff2'),
    url('../fonts/montserrat_bold.woff') format('woff'),
    url('../fonts/montserrat_bold.ttf') format('truetype'),
    url('../fonts/montserrat_bold.svg#montserrat_bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat_regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_regular.woff2') format('woff2'),
    url('../fonts/montserrat_regular.woff') format('woff'),
    url('../fonts/montserrat_regular.ttf') format('truetype'),
    url('../fonts/montserrat_regular.svg#montserrat_regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat_semibold.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/montserrat_semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_semibold.woff2') format('woff2'),
    url('../fonts/montserrat_semibold.woff') format('woff'),
    url('../fonts/montserrat_semibold.ttf') format('truetype'),
    url('../fonts/montserrat_semibold.svg#montserrat_semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat_medium.eot');
  src: local('../fonts/Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/montserrat_medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_medium.woff2') format('woff2'),
    url('../fonts/montserrat_medium.woff') format('woff'),
    url('../fonts/montserrat_medium.ttf') format('truetype'),
    url('../fonts/montserrat_medium.svg#montserrat_medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat_extrabold.eot');
  src: local('../fonts/Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/montserrat_extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_extrabold.woff2') format('woff2'),
    url('../fonts/montserrat_extrabold.woff') format('woff'),
    url('../fonts/montserrat_extrabold.ttf') format('truetype'),
    url('../fonts/montserrat_extrabold.svg#montserrat_extrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
