.question {
  padding-top: 50px;
  padding-bottom: 100px;
}

.question__cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.question__card {
  padding-left: 60px;
  max-width: calc((100% - (var(--gap) * 2)) / 3);
}

.question__subtitle {
  max-width: 412px;
}

.question__text {
  max-width: 450px;
}
